<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">        
        <title>
            Oriente Web
        </title>
        <style>
            
            .center{
                align-content: center;
                margin: auto;
                text-align: center;
            }
            
            .lightblue{
                color: lightblue;
            }
            
            h1, h2, h3, h4, h5, h6 {
                color: #444444;
            }
            a.sitelink{
                text-decoration: none;
                color: indianred;
            }
            
        </style>
    </head>

    <body>
        <div class="center">
            <h1  style="color: indianred;"><a class="sitelink" href="{% url 'documentos:documento_pesquisa_form' %}">Oriente Web</a></h1>
        {% block body %}

        {% endblock body %}
        </div>
    </body>
</html>
