{% extends 'documentos/base.html' %}

{% block body %}

<h2>Recomendações para {{object.url}}</h2>
<h2>{{object.titulo}}</h2>


<ol>
{% for recomendacao in object.recomendacoes.all %}
    <li><a target="_blank" href="{{recomendacao.documento_destino}}">{{recomendacao.documento_destino.titulo}}</a></li>
{% empty %}
    <li>Sem recomendações</li>
{% endfor %}
</ol>
{% endblock body %}