{% extends 'documentos/base.html' %}

{% block body %}

    <h2>Total de <b class="lightblue">{{total_documentos}}</b> Documentos</h2>
    
    <h2>Total de <b class="lightblue">{{total_recomendacoes}}</b> Recomendações</h2>

    <form method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="pesquisar">
    </form>

{% endblock body %}