<ul id="oriente_lista_recomendacoes">
{% if documento %}
    {% for recomendacao in documento.recomendacoes.all %}
    <li><a href="{{recomendacao.documento_destino.url}}" target="_blank">{{recomendacao.documento_destino.titulo}}</a></li>
    {% empty %}
    <li>Não tem recomendações para este documento!</li>
    {% endfor %}
{% else %}
    <li>Documento não registrado!</li>
{% endif %}
</ul>