<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repositorios</title>
</head>
<body>

{% for repositorio, valor in repositorios.items %}
    <p>
        <b>{{ repositorio }}</b>:{{ valor}}
    </p>
{% endfor %}
</body>
</html>